h1{
  border-bottom: 1px solid #00BFFF;
  background: #000000;
  color: #00BFFF;
  display: block;
  font-size: 4em;
}
body{
    margin:20px auto;
    width:960px;
    background: url("lightgrid.jpg") center fixed;
    background-color : transparent 50%;
    background-size: 115%;
    /*opacity: 0.5;*/
}
.pics {
}
.audio {
  /*
  list-style: none;
  margin: 40px;
  padding: 0px;
  */
}
.cpu {
  /*
  list-style: none;
  margin: 40px;
  padding: 0px;
  */
}
.earbud img {
  border-color: #cc890e;
  border-style: solid;
  border-width: 15px;
  padding: 0px;
  margin:10px;
  float:left;
}
.headphone img {
  border-color: #cc890e;
  border-style: solid;
  border-width: 15px;
  padding: 0px;
  margin:10px;
}
.laptop img {
  border-color: #cc890e;
  border-style: solid;
  border-width: 15px;
  padding: 0px;
  float:left;
  margin:10px;
}
.phone img {
  border-color: #cc890e;
  border-style: solid;
  border-width: 15px;
  padding: 0px;
  margin:10px;
}
