* {
    box-sizing: border-box;
}
body, h1, h2, h3, ul{
  padding: 0;
  margin: 0;
  font-weight: 400;
}
body {
  display: block;
  font family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ccc;
  width: 960px;
  margin: auto;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 700;
}
a:hover{
  text-decoration:underline;
}
li {
  list-style: none;
}
header {
  background-color: #a00;
  color: #ffffff;
  padding: 20px;
}
header h1 {
  font-size: 33px;
}
header h2 {
  font-style: italic;
  font-size: 21px;
}
.banner {
  background-color: #a00;
}
.search {
  float: right;
}
nav a:hover {
  background: #700000;
}
.navBar {
  background: maroon;
  padding: 10px;
  padding-left: 0;
}
.top {
  background-color: #ffffff;
  clear: both;
  padding: 20px;
}
aside {
  float: left;
  width: 25%;
/*  padding: 2%;
  background-color: #ffffff; */
}
.main-content h1 {
  text-align: center;
}
.main-content p {
  margin-top: 25px;
  font-size: 22px;
}
.bground {
  background-color: #ffffff;
}
form {
  background-color: #ffffff;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 65%;
}
section {
  color: #F53F5B;
  padding-left: 50px;
}

.inF label {
  display: block;
  font-size: 20px;
  width: 40%;
}
.inF input {
  float: right;
  padding: 10px;
  width: 60%;
}

.errorlist  {
  clear: both;
  background-color: #ffffff;
}
.red-border{
    border:1px solid #ff0000;
}
.blue-border{
    border:1px solid #0000aa;
}
footer {
  padding: 20px;
  margin: 20px;
}
footer a {
  color: #000000;
  padding: 20px;
}
.errClass {
  border: 1px solid #F53F5B;
  background-color: #F53F5B;
  color: #ffffff;
}

              /* just css
increase p text size to match height of pic

re-configure floats
    and get clear to work
automargin form including message

consider putting labels and inputs in different blocks to align them

float all list items
add background to footer

add padding to each input
name place holder / maybe text different for inputs

add gradient and styling to control panel
*/

              /* interactive javascript css

change input field background color if error list

decrease gap between header h1 h2

change search field color
*/

              /* completed tasks
float all list items

add background color to header nav

float either header nav or search bar

change body color to white

center article h1 (reconsider using article tag)

change error list text to red
unremove bullet list (do i really wanna tho?)



 */

/*  */
