body{
    margin:20px auto;
    width:960px;
}
h1{
  color: #777777;
  border-bottom: 1px solid #777777;
}
h2{
  color: #aa0000;
  border-bottom: 1px solid #aa0000;
}
hr {
  clear:both;
}
.navigation-link{
  background: #000000;
  color: #ffffff;
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}
.image-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery-image {
  margin: 10px;
  padding: 10px;
  display: block;
  float: left;
}
.main-content {
  float: left;
  width: 70%;
}
.side-bar {
  background-color: #e7e7e7;
  float: right;
  width: 20%;
}
.content-footer{
  border-top: 1px solid #000000;
  clear:both;
  padding: 10px;
}
.image-list2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.image-list2 li {
  margin: 10px;
    display: block;
  padding: 10px;
  float: left;
  /*use decendant selectors to apply specific floats and stuff*/
}
.image-list2 img {
  height: 100px;
  width: 100px;
}
.image-list2 h4 {
  text-align: center;

}
