.class2 nav,
.class7 li,
section>aside>section>h3 {
    text-align: center
}

.class7,
.class8 article,
footer {
    overflow: hidden
}

* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0
}

a {
    color: #a00;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.main-container {
    margin: 0 auto;
}

.main-header {
    margin: 10px 0
}

.main-header nav {
    background: #a00;
}

.main-header nav a {
    color: #fff;
    display: block;
    font-size: 24px;
    padding: 5px 15px
}

.hero img {
    width: 100%;
    height: auto
}

section {
    clear: both;
    margin: 10px auto
}

section .section-header {
    color: #a00;
    border: 1px solid #a00;
    border-left: none;
    border-right: none;
    text-align: center;

}

section .article-list {
    margin-top: 10px;
    padding: 10px;
}

.article-list article {
    border-bottom: 1px solid #a00
}

.article-list article img {
    display: block;
    width: 100%;
    padding: 10px
}

section>aside {}

.sponsors {
    margin-top: 10px;
}

.sponsors>.sponsor-ads>img {
    width: 50%;
    float: left;
    padding: 10px
}

footer {
    clear: both;
    padding: 20px 0
}

footer>h3 {
    margin: 0
}

footer>nav {
}

footer>nav>a {
    padding: 0 10px;
    display:block;
}

@media screen and (min-width: 960px) {
    .main-header nav {
        text-align: center;
        border-radius: 25px;
    }
    .main-header nav a {
        display: inline-block;
    }
    .hero img {
        max-width: 620px;
    }
    .hero {
        text-align: center;
    }
    .article-list article img {
        max-width: 350px;
    }
    .sponsors>.sponsor-ads>img {
        max-width: 150px;
    }
    section .article-list a, p {

    }
    section .article-list {
        float: left;
        width: 69%;
    }
    section>aside {
        float: right;
        width: 30%;
    }
}

/*
build framework structure
rows = .row

sections:
1.0 = mobile = .xs
2.0 = tablet = .md
3.0 = desktop - .lg

column = .col

mobile = .xs-33
         .xs-66
         .xs-50

         .xs-25
         .xs-75
         .xs-100

tablet = .md-33
         .md-66
         .md-50

         .md-25
         .md-75
         .md-100

desktop = .lg-33
         .lg-66
         .lg-50

         .lg-25
         .lg-75
         .lg-100
*/


/*=====================
section 1.0 mobile
=======================*/

@media screen and (max-width:767px) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .xs-33 {
        width: 33.333333%;
    }
    .xs-66 {
        width: 66.66666%;
    }
    .xs-50 {
        width: 50%;
    }
    .xs-25 {
        width: 25%;
    }
    .xs-75 {
        width: 75%;
    }
    .xs-100 {
        width: 100%;
    }
}


/*=====================
section 2.0 tablet
=======================*/

@media screen and (min-width:768px) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .md-33 {
        width: 33.333333%;
    }
    .md-66 {
        width: 66.66666%;
    }
    .md-50 {
        width: 50%;
    }
    .md-25 {
        width: 25%;
    }
    .md-75 {
        width: 75%;
    }
    .md-100 {
        width: 100%;
    }
}


/*=====================
section 3.0 desktop
=======================*/

@media screen and (min-width:960px) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .lg-33 {
        width: 33.333333%;
    }
    .lg-66 {
        width: 66.66666%;
    }
    .lg-50 {
        width: 50%;
    }
    .lg-25 {
        width: 25%;
    }
    .lg-75 {
        width: 75%;
    }
    .lg-100 {
        width: 100%;
    }
}
