* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 10px auto;
}

p {
  font-size: 30px;
}

.modal p {
  font-size: 15px;
}

.modal {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  display: none;
}
